html
	head
		title Reaper of Stats
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600',rel='stylesheet',type='text/css')
		link(rel='stylesheet', href='styles/main.css')
		script(type='text/javascript', src='scripts/main.js' async)
		meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
	body
		.wrapper hi!