@import '../vendor/normalize.css/normalize.css';

html {
	font-size: 16px;
}

body {
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	background-color: #FCFCFC;
	color: #3c3c3c;
	margin: 0;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 300;
}

nav {
	background-color: #4dbfbf;
	color: #FCFCFC;
}

nav ul {
	margin-bottom: 0;
}

nav li {
	display: inline-block;
	padding: .5rem 1rem;
}


.content {
	padding: 1rem;
}